<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - SEA BATTLE</title>
        {% else %}
        <title>SEA BATTLE</title>        <!-- fallback -->
        {% endif %}
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    </head>
    <body class="bg-black text-white-50">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
            <ul class="nav navbar-nav">
                <li class="nav-item active navbar-brand">
                    <a class="nav-link text-white" href="{{ url_for('index') }}">SEA BATTLE</a>
                </li class="nav-link nav-item">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" class="text-warning pin_right">Login</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}" class="text-warning pin_right">Logout</a>
                    {% endif %}
            </ul>
        </nav>
        

        
        {% block content %}
        {% endblock %}
        
        


        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>